[submodule "submodule_repo"]
	path = submodule_repo
	url = https://github.com/meharbaan-amd/submodule_repo
[submodule "folder/sub/sub_module"]
	path = folder/sub/sub_module
	url = https://github.com/meharbaan-amd/submodule_repo
